<h1>Minhas Ofertas</h1>
<% @my_offers.each do |offer| %>
  <div class="container">
    <div class="cards">
      <%= link_to(offer) do %>
        <div class="card">
          <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path offer.photo %>')">
            <span class="card-category"><%= offer.category %></span>
            <div class="card-description">
              <h2><%= offer.title %></h2>
              <p><%= offer.description %></p>
            </div>
            <a class="card-link" href="#"></a>
          </div>
          <div class="card-footer">
            <p>Posted on <%= offer.created_at.strftime("%d/%m/%Y") %></p>
          </div>
          <%= link_to offer_path(offer), method: :delete, data: { confirm: "Tem certeza que deseja apagar?" } do %>
            <i class="fa fa-trash-o"></i>  Apagar
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
