
<div class="row">
  <div class="col-md-6 top">
  <h1><%= @offer.title %></h1>
  <p><%= @offer.description %></p>
  <p>R$ <%= @offer.price %></p>
    <div class="userinfo">
    <%= cl_image_tag @offer.user.photo, height: 50, width: 50, class: 'img-user' %>
    <p class ="hidden1" id="mobile"><%= @offer.user.mobile %></p>
    </div>
    <div class="col-md-8">
      <button type="button" class="botaum" aria-busy="false" onclick="my_function()">
        <span class="_16c9pko4">
          <span>Eu quero</span>
        </span>
      </button>
    </div>
</div>
<div class="col-md-6-6">
<%= cl_image_tag @offer.photo, height: 400, width: 400, crop: :fill %>
</div></div>
